@import "tailwindcss";

@theme {
  --color-background: #111111;
  --color-foreground: #ffffff;
  --color-accent: #FF0E00;

  --font-sans: var(--font-helvetica);
  --font-serif: var(--font-instrument);
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #111111;
  font-family: var(--font-sans);
}